// Khai báo kích thước tương ứng với màn hình thiết bị
$res_320: "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_425: "only screen and (min-width: 425px) and (max-width: 767px)";
$res_768: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_992: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px) and (max-width: 1999px)";
$res_1200: "only screen and (min-width: 1200px)";

@mixin responsive_320() {
  @media #{$res_320} {
    @content;
  }
}
@mixin responsive_375() {
  @media #{$res_375} {
    @content;
  }
}
@mixin responsive_425() {
  @media #{$res_425} {
    @content;
  }
}
@mixin responsive_768() {
  @media #{$res_768} {
    @content;
  }
}
@mixin responsive_992() {
  @media #{$res_992} {
    @content;
  }
}
@mixin responsive_1024() {
  @media #{$res_1024} {
    @content;
  }
}
@mixin responsive_1200() {
  @media #{$res_1200} {
    @content;
  }
}

@include responsive_320 {
}

@include responsive_375 {
}

@include responsive_425 {
}

@include responsive_768 {
}

@include responsive_992 {
}

@include responsive_1024 {
}

@include responsive_1200 {
}

// ----------------------------------------------------------

$XS: 480px;
$SM: 639px;
$NMD: 799px;
$MD: 1047px;
$XL: 1187px;

// media queries
@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == NMD {
    @media only screen and (max-width: $NMD) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}

.header,
.menuTop,
.footerContainer {
  @include Responsive(MD) {
    grid-template: " content " auto/1fr;
  }
  @include Responsive(XL) {
    grid-template: " content " auto/1fr;
  }
}

.modal__window--search {
  @include Responsive(MD) {
    max-height: calc(100vh - 100px);
    top: 90px;
  }
}

@include Responsive(MD) {
  .footerContainer {
    .footerContainer__content {
      .selfPromo {
        .selfPromo__main {
          .selfPromo__box--apps {
            .selfPromo__boxContent {
              margin-top: 0;
              width: 190px;
            }
          }
        }
      }
    }
  }
}

// 799px
@include Responsive(NMD) {
  .footerContainer {
    .footerContainer__content {
      .selfPromo {
        .selfPromo__main {
          grid-template:
            " project social " auto
            " apps apps" auto/1fr 200px;
          padding: 10px 16px;

          .selfPromo__boxTitle {
            margin-top: 24px;
          }

          .selfPromo__box--apps {
            .selfPromo__boxContent {
              margin-bottom: 12px;
            }

            .selfPromo__wrapper--stores {
              flex-flow: row wrap;

              .selfPromo__app {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

// 639px
@include Responsive(SM) {
  .header {
    .header__content {
      grid-template-rows: 32px;
      padding: 8px 8px 8px 12px;

      .header__logoWrapper {
        .header__logo {
          height: 24px;
        }
      }

      .header__block--search {
        width: 32px;
      }

      .header__block {
        width: 32px;

        .header__button {
          .searchIcon {
            svg {
              height: 16px;
              width: 16px;
            }
          }

          .header__text {
            display: none;
          }

          .modal__dimmer--search {
            top: 48px;
          }
        }

        .header__button--user {
          padding: 0;
        }

        #search-window {
          .dropDown {
            width: 100%;
            height: 36px;
            min-width: auto;
            padding: 0;
          }

          .dropDown__selectedValue {
            box-sizing: border-box;
            font-size: 11px;
            height: 100%;
            padding: 4px 8px;
          }
        }
      }

      .header_block--user {
        padding: initial;
        position: static;
      }

      .header__icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  // modal
  .modal__window--search {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    height: 100%;
    left: auto;
    max-height: none;
    max-width: none;
    top: auto;
    transform: none;
    width: 100%;
  }

  .modal__window {
    .modal__header {
      display: none;
    }

    .searchInput {
      margin: 16px;
    }

    .searchHint {
      margin: 0 16px 16px;
    }

    .searchResults {
      margin-bottom: 8px;
      padding: 0 8px;
    }
  }

  .menuTop {
    .menuTop__content {
      grid-template-rows: 64px;
    }

    .menuTop__item {
      font-size: 10px;
      grid-template:
        " . . . . . " 8px
        " . . icon . . " 20px
        " . . . . . " 8px
        " . text text text . " 16px
        " . . . . . " 8px
        " border border border border border" 4px /4px minmax(16px, 1fr)
        20px minmax(16px, 1fr) 4px;

      .menuTop__icon {
        margin-right: 0;
      }

      .menuTop__text {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .menuTop__items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    .menuMinority {
      .menuMinority__title {
        font-size: 10px;
        grid-template:
          " . . . . . " 8px
          " . . arrow . . " 20px
          " . . . . . " 8px
          " . text text text . " 16px
          " . . . . . " 8px
          " border border border border border " 4px/4px minmax(16px, 1fr)
          20px minmax(16px, 1fr) 4px;
      }
    }
  }

  .footerContainer {
    .footerContainer__content {
      .selfPromo {
        .selfPromo__main {
          grid-template:
            " project " auto
            " social " auto
            " apps " auto/1fr;

          .selfPromo__boxTitle {
            margin: 28px 0 12px;
          }

          .selfPromo__box--apps {
            .selfPromo__wrapper--stores {
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}
